/* height responsive */
@media screen and (max-height: 800px) {
  .header__nav.show {
    overflow-y: scroll;
  }

  .header__nav ul {
    height: 100%;
    padding: 82px 0;
  }
}

/* width responsive */
@media screen and (max-width: 1800px) {
  .noti__container.center,
  .qna__container.center {
    width: 70%;
  }

  .noti-reg,
  .qna-reg {
    width: 15%;
  }

  .noti-hit,
  .qna-hit {
    width: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .center {
    width: 90%;
    max-width: 100%;
  }

  /* header */
  .header {
    padding: 2px 10px;
  }

  .header__info:first-child {
    display: none;
  }

  .header__container {
    width: 100%;
    justify-content: space-between;
  }

  .header__info {
    width: auto;
  }

  .header__nav {
    font-size: 60px;
  }

  /* footer */
  .footer__container {
    justify-content: space-between;
  }

  /* sub page */
  .sub-title {
    height: 200px;
  }

  .sub-title h2 {
    font-size: 50px;
    font-weight: 700;
    color: #222;
    letter-spacing: 0.02em;
    animation: letter 1s forwards;
  }

  @keyframes letter {
    from {
      letter-spacing: normal;
    }

    to {
      letter-spacing: 10px;
    }
  }

  .noti__container.center,
  .qna__container.center {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .noti-num,
  .qna-num {
    width: 10%;
  }

  .noti-tit,
  .qna-tit {
    width: 45%;
  }

  /* login */
  .login-form,
  .join-form {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  .header__nav {
    font-size: 45px;
  }

  /* section */
  .best__p {
    display: none;
  }

  /* footer */
  .footer__container {
    display: block;
  }

  .footer__info:first-child {
    margin-bottom: 20px;
  }

  /* login */
  .login-form,
  .join-form {
    width: 90%;
  }

  /* subpage */
  .sub-title h2 {
    font-weight: 900;
  }

  .opc__about {
    flex-direction: column;
  }

  .opc__left {
    margin-right: 0rem;
  }

  .opc__left,
  .opc__right {
    width: 100%;
    margin-bottom: 3rem;
  }

  .opc__about:last-child {
    flex-direction: column-reverse;
  }

  .perform__imgbox {
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .perform__imgbox img {
    width: 100%;
  }

  .perform__img {
    width: 100%;
  }

  .perform__list {
    flex-direction: column;
  }

  .perform__des {
    min-width: auto;
    height: 250px;
  }

  .perform__more {
    bottom: 10px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    text-align: center;
  }

  .noti-num,
  .qna-num {
    display: none;
  }

  .noti-tit,
  .qna-tit {
    width: 55%;
  }

  .noti-reg,
  .qna-reg {
    width: 25%;
  }

  .noti-hit,
  .qna-hit {
    display: none;
  }

  .view-list {
    padding: 10px 20px 10px;
  }

  /* sub search */
  .search-box {
    width: 100%;
    flex-wrap: wrap;
  }

  .select-box {
    width: 80%;
    margin-right: 0px;
    margin-bottom: 5px;
  }

  .qna__search,
  .noti__search,
  .perform__search {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    overflow: hidden;
    padding-top: 69px;
    padding-bottom: 155px;
  }

  .header__info:nth-child(2) {
    width: 20%;
    height: 65px;
  }

  .header__info:nth-child(2) a,
  .header__info:nth-child(2) img {
    width: 100%;
  }

  .header__info:last-child {
    width: 50%;
  }

  .header--login,
  .header--join,
  .header--my,
  .header--logout {
    display: none;
  }

  .header__nav.show {
    display: flex;
    flex-direction: column;
  }

  .nav__login {
    display: block;
    margin-bottom: 2rem;
  }
  .nav__login a {
    display: inline-block;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    background: #e0007f;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
  }

  .nav__login .nav--join,
  .nav__login .nav--logout {
    background: #7f7f7f;
  }

  .header .fa-bars,
  .header .fa-times {
    font-size: 40px;
  }

  .header__nav {
    font-size: 30px;
  }

  /* search */
  .search__input {
    font-size: 15px;
  }

  /* Best section*/
  .best__container {
    height: 100%;
    padding: 2rem 0;
  }

  .best__desc {
    display: none;
  }

  /* footer */
  .footer {
    padding: 1rem 0;
  }

  .footer__info {
    text-align: center;
  }

  .footer__logo {
    display: none;
  }

  /* login */
  .login__container,
  .join__container {
    padding: 1rem 0;
  }

  .form-login,
  .form-join {
    font-size: 15px;
  }

  .login-btn,
  .join-btn {
    height: auto;
    font-size: 20px;
    padding: 15px 10px;
  }

  .formBtns {
    margin-bottom: 2rem;
  }

  /* subpage */
  .sub-title {
    height: 100px;
  }
  .sub-title h2 {
    font-size: 30px;
  }

  .perform__container,
  .preview__container,
  .noti__container,
  .qna__container,
  .view__container {
    margin: 2rem auto;
  }

  .write-btn,
  .loadMore,
  .modi-btn,
  .delete-btn,
  .list-btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .perform__more {
    width: 100%;
  }

  .noti__lists,
  .qna__lists {
    font-size: 12px;
  }

  .noti-id,
  .qna-id {
    width: 30%;
  }

  .noti-tit,
  .qna-tit {
    width: 60%;
  }

  .noti-reg,
  .qna-reg {
    display: none;
  }

  .pager a {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  /* view page */
  .view-title h4 {
    font-size: 17px;
  }

  .view-reg,
  .view-des,
  .view-list {
    font-size: 14px;
  }

  .view-prev::before {
    padding: 0 2px 0 2px;
  }

  .view-next::before {
    padding: 0 2px 0 2px;
  }
}
