/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/openconcert/fonts/NotoSansKR/noto-sans-kr-v13-korean-regular.eot"); /* IE9 Compat Modes */
  src: local("※"),
    url("/openconcert/fonts/NotoSansKR/noto-sans-kr-v13-korean-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/openconcert/fonts/NotoSansKR/noto-sans-kr-v13-korean-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/openconcert/fonts/NotoSansKR/noto-sans-kr-v13-korean-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/openconcert/fonts/NotoSansKR/noto-sans-kr-v13-korean-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/openconcert/fonts/NotoSansKR/noto-sans-kr-v13-korean-regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("/openconcert/fonts/OpenSans/open-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("※"),
    url("/openconcert/fonts/OpenSans/open-sans-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/openconcert/fonts/OpenSans/open-sans-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/openconcert/fonts/OpenSans/open-sans-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/openconcert/fonts/OpenSans/open-sans-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/openconcert/fonts/OpenSans/open-sans-v18-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0041-005A, U+0061-007A;
}

/* reset */
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background: #f0e8e5;
  overflow-x: hidden;
  height: 100%;
}

button,
textarea,
input,
select {
  font-family: "Noto Sans KR", sans-serif;
}

/* reset end */

.center {
  width: 60%;
  height: auto;
  max-width: 70%;
  margin: auto;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

.wrap {
  position: relative;
  min-height: 100%;
  padding-top: 82px;
  padding-bottom: 144px;
  overflow: hidden;
}

/* header */

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #262626;
  z-index: 20;
}

.header__container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header__info {
  width: 33.33%;
}

.header__info:first-child {
  display: flex;
  justify-content: flex-start;
}

.header__info:nth-child(2) {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding-top: 8px;
}

.header__info:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 22;
}

.header--login,
.header--join,
.header--my,
.header--logout {
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 10px;
}

.header--login,
.header--my {
  background: #e0007f;
  margin-right: 1rem;
}

.header--join,
.header--logout {
  background: #7f7f7f;
}

.header .fa-bars,
.header .fa-times {
  color: #e0007f;
  font-size: 40px;
  cursor: pointer;
}

.header .fa-times {
  display: none;
}

/* NAV */
.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -150%;
  left: 0;
  background: url(/openconcert/img/menu.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  transition: all 0.4s;
  visibility: hidden;
}

.header__nav.show {
  top: 0%;
  visibility: visible;
  z-index: 21;
}

.header__nav li {
  margin: 1rem 0;
}

.header__nav li a {
  transition: all 0.4s;
}

.header__nav li a:hover {
  color: #e0007f;
}

.nav__login {
  display: none;
}

/* search section */
.search__section {
  position: relative;
  width: 100%;
  height: 95vh;
}

.search__container {
  width: 80%;
  height: 50px;
  max-width: 820px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.search__title {
  opacity: 0;
  cursor: default;
}

.search__input {
  width: 70%;
  height: 100%;
  outline: none;
  margin-right: 5px;
  padding: 10px 20px;
  border: 0;
  font-size: 16px;
}

.send__btn {
  width: 20%;
  height: 100%;
  outline: none;
  background: #e0007f;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* movie background */
.movie__back {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}

.movie__back video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* best section */
.best__section {
  position: relative;
  height: auto;
  min-height: 100vh;
}

.best__container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.best__info {
  margin: auto;
  text-align: center;
}

.best__title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #e0007f;
}

.best__p {
  margin-bottom: 2rem;
}

.best__video {
  width: 100%;
  margin-bottom: 1em;
}

.best__lists {
  margin-top: 3rem;
  display: flex;
  align-self: center;
  justify-content: space-around;
}

.best__list {
  width: 33.33%;
  padding: 20px;
}

.best__video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best__tit,
.best__desc {
  text-align: center;
}

/* footer */
.footer {
  width: 100%;
  background: #262626;
  padding: 1.5rem 0;
  position: absolute;
  bottom: 0;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opc__logo {
  margin-right: 10px;
}

.footer__address {
  font-style: normal;
  color: #f0e8e5;
}

.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .fab {
  margin-left: 20px;
  font-size: 30px;
  color: #e0007f;
}
