.sub-title {
  width: 100%;
  height: 240px;
  background: url(/openconcert/img/subtitle.png) no-repeat center;
  background-size: cover;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-title h2 {
  font-size: 70px;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.02em;
  animation: letter 1s forwards;
  text-align: center;
}

.sub-title a {
  color: #222;
}

@keyframes letter {
  from {
    letter-spacing: normal;
  }

  to {
    letter-spacing: 16px;
  }
}

/* search */

.search-box {
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.select-box {
  position: relative;
  width: 15%;
  margin-right: 10px;
}

.ser-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 41px;
  margin: 0;
  padding: 0;
  background: url(/openconcert/img/sel-arrow.png) no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
}

.find-type,
.find-word {
  width: 100%;
  height: 40px;
  padding: 0 35px 0 10px;
  outline: none;
  -webkit-appearance: none;
  border: 1px solid #000;
}

.qna__search,
.noti__search,
.perform__search {
  position: relative;
  width: 50%;
}

.search-btn {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background: url(/openconcert/img/ic-search1.png) 50% 50% no-repeat #ff69b4;
  text-align: center;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: 1px solid;
}

/* opc section */
.opc__container {
  margin: 5rem auto;
}

.opc__about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opc__left,
.opc__right {
  width: 50%;
}

.opc__left {
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.opc__img {
  width: 100%;
}

.opc__p {
  font-size: 17px;
  line-height: 1.6;
  color: #5b5b5b;
  margin-bottom: 40px;
}

/* perform section */
.perform__container,
.preview__container {
  margin: 5rem auto;
}

.perform__list {
  display: flex;
  margin-bottom: 2rem;
}

.perform__imgbox {
  margin-right: 2rem;
}

.perform__des {
  min-width: 826px;
  min-height: 284px;
  background: #e0e0e0;
  position: relative;
  padding: 20px;
}

.perform__more {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.perform-preview,
.perform-buy {
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: #e0007f;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.perform-preview {
  margin-right: 0.5rem;
  background: rgb(224, 0, 127, 0.5);
}

.perform__btns {
  text-align: center;
}

.loadMore {
  margin-right: 10px;
}

/* perform upload */
.uploadName {
  display: none;
}

.perform-info {
  display: block;
  width: 100%;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  height: 70px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 1rem;
}

.perform-desc {
  width: 100%;
  height: 412px;
  background: #ffff;
  display: block;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 1rem;
}

.submit__btns {
  text-align: center;
}

/* perform preview section */
.preview__video {
  width: 1200px;
  height: 525px;
  background: #0f0f0f;
  margin-bottom: 5rem;
}

.preview__video video {
  width: 100%;
}

.preview__Info {
  width: 1200px;
  background: #0f0f0f;
  color: #fff;
  padding: 3rem;
}

.buy__btns {
  text-align: center;
  margin-top: 5rem;
}

/* notice section */
.noti__container,
.qna__container {
  margin: 5rem auto;
}

.noti__lists,
.qna__lists {
  width: 100%;
}

.noti__title:first-child,
.qna__title:first-child {
  display: inline-block;
  width: 100%;
  background: hotpink;
}

.noti__title .qna__title {
  background: #e0e0e0;
}

.noti-num,
.noti-id,
.noti-tit,
.noti-reg,
.noti-hit,
.qna-num,
.qna-id,
.qna-tit,
.qna-reg,
.qna-hit {
  display: inline-block;
  text-align: center;
  padding: 10px 5px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noti-link,
.qna-link {
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noti-num,
.qna-num {
  width: 5%;
}

.noti-id,
.qna-id {
  width: 15%;
}

.noti-tit,
.qna-tit {
  width: 50%;
}

.noti-reg,
.qna-reg {
  width: 20%;
}

.noti-hit,
.qna-hit {
  width: 5%;
}

.noti__btns,
.qna__btns {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.per__btns {
  text-align: center;
  margin-top: 2rem;
}

.write-btn,
.loadMore,
.modi-btn,
.delete-btn,
.list-btn {
  display: inline-block;
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: #e0007f;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.noti__container .noti__btns,
.qna__container .qna__btns {
  justify-content: flex-end;
}

#notiTitle,
#qnaTitle {
  display: block;
  width: 100%;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  height: 70px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 1rem;
}

.noti__desc,
.qna__desc {
  width: 100%;
  height: 412px;
  background: #ffff;
  display: block;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 1rem;
}

.pager {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.pager a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 38px;
  border: 1px solid #999;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 2px;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.pager a.on {
  background: #e874b2;
  color: #333;
  border: 1px solid #e874b2;
}

.pager .page {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* goods section */
.goods__container {
  margin: 5rem auto;
}

.goods__container.center {
  width: 90%;
  height: auto;
  max-width: 90%;
}

.goods__lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.goods__list {
  padding: 20px;
}

.goods__imgbox {
  width: 100%;
}

.goods__img {
  width: 100%;
}

.goods__des {
  width: 100%;
}

/* view page */
.view__container {
  margin: 5rem auto;
}

.view-title h4 {
  padding: 18px 20px 15px;
  line-height: 1.6;
  font-size: 20px;
  color: #000;
  margin-bottom: 0;
  word-wrap: break-word;
  font-weight: 400;
  background: #ddd;
  border-top: 2px solid #000;
}

.view-reg {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.view-reg p,
.view-des p,
.view-list {
  padding: 18px 20px 15px;
}

.view-des {
  border-bottom: 1px solid #ddd;
}

.view-list {
  color: #5b5b5b;
  border-bottom: 1px solid #ddd;
}

.view-list a {
  color: #5b5b5b;
}

.view-prev::before {
  content: "▲";
  padding: 0 25px 0 15px;
}

.view-next::before {
  content: "▼";
  padding: 0 25px 0 15px;
}
