.sub-title {
  width: 100%;
  /* max-width: 1280px; */
  height: 240px;
  background: url(/openconcert/img/subtitle.png) no-repeat center;
  background-size: cover;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-title h2 {
  font-size: 70px;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.02em;
  animation: letter 1s forwards;
}

.sub-title a {
  color: #222;
}

@keyframes letter {
  from {
    letter-spacing: normal;
  }

  to {
    letter-spacing: 27px;
  }
}

/* opc section */
.opc__container {
  margin: 5rem auto;
}

.opc__about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opc__left,
.opc__right {
  width: 50%;
}

.opc__left {
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.opc__img {
  width: 100%;
}

.opc__p {
  font-size: 17px;
  line-height: 1.6;
  color: #5b5b5b;
  margin-bottom: 40px;
}

/* perform section */
.perform__container {
  margin: 5rem auto;
}

.perform__list {
  display: flex;
  margin-bottom: 2rem;
}

.perform__imgbox {
  margin-right: 2rem;
}

.perform__des {
  background: #e0e0e0;
  position: relative;
}

.perform__btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.perform-preview,
.perform-buy {
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: #e0007f;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.perform-preview {
  margin-right: 0.5rem;
  background: rgb(224, 0, 127, 0.5);
}

/* notice section */
.noti__container,
.qna__container {
  margin: 5rem auto;
}

.noti__lists,
.qna__lists {
  width: 100%;
}

.noti__title:first-child,
.qna__title:first-child {
  display: inline-block;
  width: 100%;
  background: hotpink;
}

.noti__title .qna__title {
  background: #e0e0e0;
}

.noti-num,
.noti-id,
.noti-tit,
.noti-reg,
.noti-hit,
.qna-num,
.qna-id,
.qna-tit,
.qna-reg,
.qna-hit {
  display: inline-block;
  text-align: center;
  padding: 10px 5px;
  font-weight: 700;
}

.noti-link,
.qna-link {
  color: rgb(0, 0, 0);
}

.noti-num,
.qna-num {
  width: 5%;
}

.noti-id,
.qna-id {
  width: 15%;
}

.noti-tit,
.qna-tit {
  width: 50%;
}

.noti-reg,
.qna-reg {
  width: 20%;
}

.noti-hit,
.qna-hit {
  width: 5%;
}

.noti__btns,
.qna__btns {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.write-btn,
.modi-btn,
.delete-btn,
.list-btn {
  display: inline-block;
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: #e0007f;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.noti__container .noti__btns,
.qna__container .qna__btns {
  justify-content: flex-end;
}

#notiTitle,
#qnaTitle {
  display: block;
  width: 100%;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  height: 70px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 1rem;
}

.noti__desc,
.qna__desc {
  width: 100%;
  height: 412px;
  background: #ffff;
  display: block;
  padding: 12px 12px;
  color: #333;
  font-size: 18px;
  border: #c9c9c9 2px solid;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 1rem;
}

/* goods section */
.goods__container {
  margin: 5rem auto;
}

.goods__lists {
  display: flex;
  flex-wrap: wrap;
}

.goods__list {
  width: 20%;
  padding: 20px;
}

.goods__imgbox {
  width: 100%;
}

.goods__img {
  width: 100%;
}

.goods__des {
  width: 100%;
}

/* view page */
.view__container {
  margin: 5rem auto;
}

.view-title h4 {
  padding: 18px 20px 15px;
  line-height: 1.6;
  font-size: 20px;
  color: #000;
  margin-bottom: 0;
  word-wrap: break-word;
  font-weight: 400;
  background: #ddd;
  border-top: 2px solid #000;
}

.view-reg {
  display: flex;
}

.view-reg p,
.view-des p,
.view-list {
  padding: 18px 20px 15px;
  border-bottom: 1px solid #ddd;
}

.view-list {
  color: #5b5b5b;
}

.view-list a {
  color: #5b5b5b;
}

.view-prev::before {
  content: "▲";
  padding: 0 25px 0 15px;
}

.view-next::before {
  content: "▼";
  padding: 0 25px 0 15px;
}
